<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    div.scrollmenu {
      background-color: #333;
      overflow: auto;
      white-space: nowrap;
    }
    
    div.scrollmenu a {
      display:inline;
      color: white;
      text-align: center;
      padding: 14px;
      text-decoration: none;
    }
    
    div.scrollmenu a:hover {
      background-color: #777;
    }
    </style>
    </head>
    <body >
        <div class= "container" >
            <i class="fa fa-shopping-cart fa-2x" style = "padding-left: 950px;
            padding-bottom:10px;
            padding-top:25px;
            padding-right:10px; color:#F56416" onClick ="location = '/cart'"></i>
            <a>View my cart</a>
            <h1></h1>
        <div id='box' >
            <h5 id='subhead'> TAPAL </h5>
            <div id='select-container' >
                <div class="scrollmenu" >
                            <!-- <a href="#home">Home</a> -->
                        <div class="card" *ngFor = 'let us of tapal'>
                            <img src="assets\images\{{us.Image_string}}.PNG" style="width:50%" >
                            <h4>{{us.ProductName}}</h4>
                            <p class="price">Rs. {{us.ProductPrice}}</p>
                            <p><button (click)=addToCart(us.ProductID,this.qty)>Add to Cart</button></p>
                        </div>
                </div>
            </div>
                </div>
            </div>
    
            <div class= "container">
                <div id='box'>
                    <h5 id='subhead'> LIPTON </h5>
                    <div id='select-container'>
                        <div class="scrollmenu">
                                    <!-- <a href="#home">Home</a> -->
                                    <div class="card" *ngFor = 'let us of lipton'>
                                        <img src="assets\images\{{us.Image_string}}.PNG" style="width:50%" >
                                        <h4>{{us.ProductName}}</h4>
                                        <p class="price">Rs. {{us.ProductPrice}}</p>
                                        <p><button (click)=addToCart(us.ProductID,this.qty)>Add to Cart</button></p>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>

            
            
    </body>
    


