<body>
  <h4 id='Heading' > CATEGORIES </h4>
        <div class= "container">
                <div id='box'>
                    <h5 id='subhead'> GROCERY </h5>
                      <div id='select-container'>
                            <select id="dropdown" onchange="location = this.value;">
                                <option value='' disabled selected> Select your category </option> 
                                
                                <option value="./categories/spicessaltsugar">Spices, Salt and Sugar</option>
                                <option value="./categories/oilnghee">Oil And Ghee </option>
                                <option value="./categories/ricenflour">Rice and Flour </option>
                                <option value="./categories/tea">Tea</option>
                                <option value="./categories/milk">Milk</option>
                                <option value="./categories/sauces">Sauces</option>
                            </select>
                      </div>
                </div>
        </div>

        <div class= "container">
                <div id='box'>     
                  <h5 id='subhead'> FOOD AND DRINKS </h5>
                  <div id='select-container'>
                    <select id="dropdown" onchange="location = this.value;">
                      <option value='' disabled selected> Select your category </option>
                        <option value="./categories/frozenfoods">Frozen Foods</option>
                        <option value="./categories/beverages">Beverages</option>
                        <option value="./categories/instantfood">Instant Food</option>
                        <option value="./categories/chips">Chips</option>
                        <option value="./categories/bakery">Bakery</option>
                        <option value="./categories/dairy">Dairy</option>
                      </select>
                    </div>
                  </div>
          </div>


          <div class= "container">
                <div id='box'>
          
                  <h5 id='subhead'> HYGIENE AND SANITARY PRODUCTS</h5>
                  <div id='select-container'>
                    <select id="dropdown" onchange="location = this.value;">
                      <option value='' disabled selected> Select your category </option>
                        <option value="./categories/shampooncond">Shampoo And Conditioner </option>
                        <option value="./categories/skincare">Skin Care</option>
                       <!-- <option value="./categories/soapnhandwash">Soap and Handwash</option> -->
                      </select>
                      </div>
                 </div>
            </div>

            <div class= "container">
              <div id='box'>
        
                <h5 id='subhead'> HOME CARE</h5>
                <div id='select-container'>
                  <select id="dropdown" onchange="location = this.value;">
                    <option value='' disabled selected> Select your category </option>
                      <option value="./categories/detergents">Detergents</option>
                      <option value="./categories/floornbath">Floor And Bath Cleaning</option>
                    </select>
                    </div>
               </div>
          </div>

</body>



 